$base-color: #68d1ba;
$highlight-color: #a7ffe8;
$lowlight-color: #478d73;
$darken-color: #244b48;
$dark: #333333;
$mid-dark: #4a4a4a;
$light: #e0e0e0;
$offwhite: #b1a090;
$white: #ffffff;
$red: #d1687f;
$mobile-width: 768px;